{
    "type": "postgres",
    "host": "production host",
    "port": 5432,
    "username": "username",
    "password": "password",
    "database": "prodction database name",
    "entities": ["dist/entities/*.js"],
    "migrations": ["dist/migrations/*.js"]
}